html{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body{
  padding: 0px;
  margin: 0px;
}

.img{
    background-image: url(pexels-roberto-nickson-2885320);
    min-height: 100vh;
}

.text{
  position: absolute;
  top: 50vh;
  width: 100vw;
  color: #ffffff;
  text-align: center;
  font-size: 57px;
  font-family: "Lato";
  object-position: center;
}
